<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="new_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0311750435491174 -0.000298164538649795 0.0775661367636705"
        rpy="0 0 0" />
      <mass
        value="4.24802348273642" />
      <inertia
        ixx="0.0056372091691523"
        ixy="-0.00042846637789607"
        ixz="-0.000330867440643002"
        iyy="0.0285901786812042"
        iyz="1.02603660043827E-06"
        izz="0.0291055788034924" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_wheel_front_Link">
    <inertial>
      <origin
        xyz="-0.000461139217411463 -0.00971995282916115 0.00034259430756146"
        rpy="0 0 0" />
      <mass
        value="0.826148516365396" />
      <inertia
        ixx="0.00282284624048259"
        ixy="-4.6224352087902E-05"
        ixz="-1.17911506265707E-06"
        iyy="0.00519019271684411"
        iyz="-5.40495010976924E-07"
        izz="0.00282102909184871" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/left_wheel_front_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.949019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/left_wheel_front_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_front_joint"
    type="continuous">
    <origin
      xyz="0.16407 0.13219 0.029648"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_front_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="left_wheel_rear_Link">
    <inertial>
      <origin
        xyz="-0.000543378064216116 -0.00972159003382941 -5.41533828230601E-05"
        rpy="0 0 0" />
      <mass
        value="0.826148513927946" />
      <inertia
        ixx="0.00282365213793981"
        ixy="-4.60744615499566E-05"
        ixz="-1.1848393325995E-07"
        iyy="0.00519019835411183"
        iyz="4.5201734159138E-08"
        izz="0.0028202175341339" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/left_wheel_rear_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.949019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/left_wheel_rear_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_rear_joint"
    type="continuous">
    <origin
      xyz="-0.17178 0.12551 0.030053"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_rear_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_wheel_front_Link">
    <inertial>
      <origin
        xyz="-0.000846714773664402 0.00969391602512454 0.000344342315745745"
        rpy="0 0 0" />
      <mass
        value="0.826148516893895" />
      <inertia
        ixx="0.00282341215823446"
        ixy="-4.80852624389089E-05"
        ixz="-8.59762613128057E-07"
        iyy="0.00519011839743745"
        iyz="4.49216065923673E-07"
        izz="0.0028205374909308" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/right_wheel_front_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.949019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/right_wheel_front_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_front_joint"
    type="continuous">
    <origin
      xyz="0.16922 -0.12556 0.029693"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_front_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_wheel_rear_Link">
    <inertial>
      <origin
        xyz="-0.000930011284118515 0.00969225775698196 -5.21910077775486E-05"
        rpy="0 0 0" />
      <mass
        value="0.826148517077573" />
      <inertia
        ixx="0.00282365038335651"
        ixy="-4.81836363987381E-05"
        ixz="4.75382143038427E-07"
        iyy="0.00519011438698054"
        iyz="-9.5202332371543E-08"
        izz="0.00282030327791987" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/right_wheel_rear_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.949019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/right_wheel_rear_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_rear_joint"
    type="continuous">
    <origin
      xyz="-0.16665 -0.13224 0.030103"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_rear_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="base_scan">
    <inertial>
      <origin
        xyz="-0.0025058985607955 -4.53204701202914E-05 -0.0217787127591233"
        rpy="0 0 0" />
      <mass
        value="0.0374307368945306" />
      <inertia
        ixx="2.80499388623802E-05"
        ixy="-1.13017629511311E-07"
        ixz="-1.07095893805078E-06"
        iyy="3.36141950538835E-05"
        iyz="-2.20046351298302E-08"
        izz="4.50845500377396E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/base_scan.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.376470588235294 0.376470588235294 0.376470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/base_scan.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_scan_joint"
    type="fixed">
    <origin
      xyz="0.16522 0.0014558 0.20949"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_scan" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>