<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="new_robot">
  <!-- Gazebo 中由 gazebo_sync.py 同步位置，不使用重力仿真 -->
  <gazebo>
    <gravity>0</gravity>
  </gazebo>

  <!-- 补齐导航 TF 链，并校正 SolidWorks 坐标系约 1.14° 的偏角 -->
  <link name="base_footprint" />
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 -0.01989" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00848984013343548 6.84553906014629E-05 0.0387392071962421"
        rpy="0 0 0" />
      <mass
        value="1.95161426437595" />
      <inertia
        ixx="0.00138568151163025"
        ixy="-0.000425631756848278"
        ixz="-0.000330862223364375"
        iyy="0.0240709630436231"
        iyz="1.02614046615309E-06"
        izz="0.023761133055466" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://new_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_wheel_front_Link">
    <inertial>
      <origin
        xyz="-0.000461139217411463 -0.00971995282916115 0.000342594307561467"
        rpy="0 0 0" />
      <mass
        value="0.826148516365396" />
      <inertia
        ixx="0.00282284624048259"
        ixy="-4.6224352087902E-05"
        ixz="-1.17911506265713E-06"
        iyy="0.00519019271684411"
        iyz="-5.40495010976877E-07"
        izz="0.00282102909184871" />
    </inertial>
  </link>
  <joint
    name="left_wheel_front_joint"
    type="continuous">
    <origin
      xyz="0.16407 0.13219 0.029648"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_front_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="left_wheel_rear_Link">
    <inertial>
      <origin
        xyz="-0.000543378064216171 -0.0097215900338294 -5.41533828230592E-05"
        rpy="0 0 0" />
      <mass
        value="0.826148513927947" />
      <inertia
        ixx="0.00282365213793981"
        ixy="-4.60744615499566E-05"
        ixz="-1.18483933259979E-07"
        iyy="0.00519019835411183"
        iyz="4.52017341591258E-08"
        izz="0.0028202175341339" />
    </inertial>
  </link>
  <joint
    name="left_wheel_rear_joint"
    type="continuous">
    <origin
      xyz="-0.17178 0.12551 0.030053"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_rear_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_wheel_front_Link">
    <inertial>
      <origin
        xyz="-0.000846714773664402 0.00969391602512451 0.000344342315745748"
        rpy="0 0 0" />
      <mass
        value="0.826148516893894" />
      <inertia
        ixx="0.00282341215823446"
        ixy="-4.80852624389088E-05"
        ixz="-8.59762613128128E-07"
        iyy="0.00519011839743745"
        iyz="4.49216065923695E-07"
        izz="0.00282053749093079" />
    </inertial>
  </link>
  <joint
    name="right_wheel_front_joint"
    type="continuous">
    <origin
      xyz="0.16922 -0.12556 0.029693"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_front_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_wheel_rear_Link">
    <inertial>
      <origin
        xyz="-0.000930011284118515 0.00969225775698199 -5.21910077775451E-05"
        rpy="0 0 0" />
      <mass
        value="0.826148517077573" />
      <inertia
        ixx="0.00282365038335651"
        ixy="-4.8183636398738E-05"
        ixz="4.75382143038449E-07"
        iyy="0.00519011438698054"
        iyz="-9.52023323715059E-08"
        izz="0.00282030327791987" />
    </inertial>
  </link>
  <joint
    name="right_wheel_rear_joint"
    type="continuous">
    <origin
      xyz="-0.16665 -0.13224 0.030103"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_rear_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="base_scan">
    <inertial>
      <origin
        xyz="-0.00250589856079542 -4.53204701204094E-05 -0.0217787127591286"
        rpy="0 0 0" />
      <mass
        value="0.037430736894531" />
      <inertia
        ixx="2.80499388623862E-05"
        ixy="-1.13017629511294E-07"
        ixz="-1.07095893805039E-06"
        iyy="3.36141950538895E-05"
        iyz="-2.20046351307178E-08"
        izz="4.50845500377399E-05" />
    </inertial>
  </link>
  <joint
    name="base_scan_joint"
    type="fixed">
    <origin
      xyz="0.16522 0.0014558 0.20949"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_scan" />
  </joint>

  <!-- Gazebo 激光雷达：发布 /scan，由 gazebo_sync.py 转发为 /scan_fixed -->
  <gazebo reference="base_scan">
    <sensor type="ray" name="lds_lfcd_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>7</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>0.5</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>6.28319</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>7</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>base_scan</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>
